.search-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-filter-container input,
.search-filter-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.realtime-sync-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c4c4c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 15px;
}

.realtime-sync-button img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.realtime-sync-button:hover {
    background-color: #0056b3;
}

.search-filter-container select {
    background-color: white;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.basic-info {
    flex: 1;
    margin-left: 10px;
}

.basic-info h3 {
    margin: 0 0 15px 0;
}

.basic-info p {
    margin: 7px 0;
}

.item-link {
    margin: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.item-link button {
    background-color: #5887e7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.item-link button:hover {
    background-color: #0056b3;
}

.info-title {
    margin-top: 30px;
}

.info-title p {
    margin-bottom: 20px;
}

.info-table {
    border-collapse: collapse;
    width: 100%;
}

.info-table th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.info-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.info-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.info-table tr {
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
