.sidebar {
    width: 100px;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #3595fd;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px 0 20px 0;
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #3595fd;
}
